/* Post Listings Page Styling*/

.archives {
  margin-bottom: 70px;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  .article-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1380px;
    padding: 0;
    text-align: center;
    width: 100%;

    @media screen and (max-width: 900px) {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    .item {
      margin: 0 30px 98px;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      width: 28%;

      @media screen and (max-width: 1200px) {
        margin: 0 25px 98px;
      }

      @media screen and (max-width: 1024px) {
        margin: 0 20px 98px;
      }

      @media screen and (max-width: 900px) {
        margin: 0 0 45px;
        width: 46%;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      img {

      }

      h5 {
        margin-bottom: 12px;
        margin-top: 22px;

        a {
          color: $olive;
          text-decoration: none;

          &:hover {
            color: $black;
          }
        }
      }

      .title {
        color: $black;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-decoration: none;

        @media screen and (max-width: 1024px) {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}
