// Styling for the Home Page

.content-area.front-page {
  margin-top: 229px;
}

.links {
  align-content: center;
  align-items: center;
  background: rgba(0,0,0,.4);
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 229px);
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  text-align: center;
  width: 100vw;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
  }

  li {
    cursor: pointer;
    margin: 25px 0;
    width: 100%;

    a {
      border-bottom: 3px solid transparent;
      color: $white;
      cursor: pointer;
      font-family: $font__menu;
      font-size: 44px;
      letter-spacing: 10px;
      text-decoration: none;
      text-transform: uppercase;

      @media screen and (max-width: 900px) {
        font-size: 40px;
        letter-spacing: 7px;
      }

      &:hover {
        border-bottom: 3px solid $olive;
      }
    }
  }
}

.image-container {
  background-position: center;
  background-size: cover;
  height: calc(100vh - 229px);
  margin-left: -30px;
  overflow: hidden;
  position: absolute;
  top: 229px;
  transition: background-image .5s ease-in-out;
  width: 100vw;
  z-index: -1;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4,
  .image-5 {
    display: none;
  }
}
