/* Styling for the Home Page*/

.home {

  .widget-area.scrolled .widget {
    margin: 16px 30px 17px 70px;
  }

  .site-header {
    @media screen and (max-width:767px) {
      background-color:  $white;

      .site-branding hr {
        margin-bottom: 40px;
      }

      &.scrolled {

      }
    }
  }
}

.content-area.front-page {
  margin-top: 229px;

  @media screen and (max-width:767px) {
    margin-top: 280px;
  }
}

.links {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0,0,0,.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: calc(100vh - 229px);
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
  text-align: center;
  width: 100vw;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
  }

  @media screen and (max-width:767px) {
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background-color: transparent;
    height: 175vh;
    margin-left: -20px;
    padding: 90vh 0 300px;


    &.scrolled {

    }
  }

  li {
    cursor: pointer;
    margin: 25px 0;
    width: 100%;

    @media screen and (max-width: 767px) {
      margin: 50px 20px;
    }

    a {
      border-bottom: 3px solid transparent;
      color: $white;
      cursor: pointer;
      font-family: $font__menu;
      font-size: 44px;
      letter-spacing: 10px;
      text-decoration: none;
      text-transform: uppercase;

      @media screen and (max-width: 900px) {
        font-size: 40px;
        letter-spacing: 7px;
      }

      @media screen and (max-width: 767px) {
        font-size: 22px;
        line-height: 28px;
      }

      &:hover {
        border-bottom: 3px solid $olive;
      }
    }
  }
}

.grey-overlay {
  background: rgba(0,0,0,.35);
  height: calc(100vh - 77px);
  margin-left: -20px;
  position: fixed;
  top: 77px;
  width: 100vw;
  z-index: -1;
}

.image-container {
  background-position: center;
  background-size: cover;
  height: calc(100vh - 229px);
  margin-left: -30px;
  overflow: hidden;
  position: absolute;
  top: 229px;
  -webkit-transition: background-image .3s ease-in-out;
  -o-transition: background-image .3s ease-in-out;
  transition: background-image .3s ease-in-out;
  width: 100vw;
  z-index: -2;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
  }

  @media screen and (max-width:767px) {
    height: calc(100vh - 77px);
    margin-left: -20px;
    position: fixed;
      top: 77px;
    &.scrolled {
      position: fixed;
      top: 77px;
    }
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4,
  .image-5 {
    display: none;
  }
}

/* Section Styling*/

.front-page {
  h1 {
    margin: 0 0 12px;
    padding-top: 133px;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding-top: 53px;
    }
  }
  .subheader p {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    margin: 10px 15vw 48px;
    max-width: 1380px;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 31px;
      margin: 20px 0 30px;
    }
  }

  .article-container .article-list .item {
    margin-bottom: 110px;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

/* Change Agents Section */
.change-agents,
.alumni-news,
.institutes-centers,
.taking-action {
  background-color: $white;
  margin-left: -30px;
  padding: 0 30px;
  width: 100vw;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
    padding: 0 2.5vw;
  }

  @media screen and (max-width: 767px) {
    margin-left: -20px;
  }
}

/* Change Agents Section */
.change-agents {
  background-color: #f7f1f4;

  img {
    border-radius: 250px;
  }
}

/* Institutes and Centers Section */
.institutes-centers {
  background-color: #E6EFF7;

  img {
    border-radius: 250px;
  }
}

.article-container {
  margin-top: 56px;
}

/* News from Adler.edu */

.field-notes {
  background-color: #e5e5e5;
  margin-left: -30px;
  padding: 0 30px 100px;
  width: 100vw;

  @media screen and (min-width:1441px) {
    margin-left: -2.5vw;
    padding: 0 2.5vw;
  }

  @media screen and (max-width: 767px) {
    margin-left: -20px;
    padding: 0 20px 40px;
  }

  .related-comment {
    background-color: #e5e5e5;
    margin: 57px 0 43px;
    padding: 0;

    @media screen and (max-width: 767px) {
      margin: 25px 0 20px;
    }

    .toggle-buttons {
      margin-bottom: 43px;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 550px) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      div {
        font-size: 20px;

        @media screen and (max-width: 767px) {
          font-size: 18px;
          line-height: 36px;
          margin: 0;
          padding: 0 10px;

          &.active {
            border-bottom: 3px solid $olive;
          }
        }

        @media screen and (max-width: 374px) {
          font-size: 16px;
          font-weight: 500;
          padding: 0 6px;
        }
      }
    }
  }

  .news,
  .media {
    display: none;
  }

  .field-notes-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -30px;
    padding: 27px 45px;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100vw;

    @media screen and (min-width: 1441px) {
      margin-left: -2.5vw;
      padding: 27px 5.5vw;
    }

    @media screen and (max-width: 767px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-left: -20px;
      padding: 20px 20px;
    }

    &:hover {
      background-color: $white;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    &:hover {
      color: $grey;
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;

      .notes-title {
        color: $olive;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
      }
    }

    p {
      line-height: 26px;
      margin: 0;

      @media screen and (max-width: 767px) {
        line-height: 18px;
      }
    }



    .notes-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;

      @media screen and (max-width: 1024px) {
        font-size: 20px;
        line-height: 29px;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
      }
    }

    &:last-of-type .field-notes-item {
      border-bottom: 0;
    }
  }

  img {
    margin-left: 130px;

    @media screen and (max-width: 1260px) {
      margin-left: 80px;
    }

    @media screen and (max-width: 1024px) {
      margin-left: 45px;
    }

    @media screen and (max-width: 767px) {
      width: 100px;
      margin-left: 15px;
    }

    @media screen and (max-width: 374px) {
      margin-left: 10px;
    }
  }
}
