.site-content {
  margin: 0 30px;

  @media screen and (min-width:1441px) {
    margin: 0 2.5vw;
  }

  @media screen and (max-width:767px) {
    margin: 0 20px;
  }
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Single Post Styling */
.header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 633px;
  width: 100%;

  @media screen and (max-width:900px) {
    height: 500px;
  }

  @media screen and (max-width:767px) {
    height: 300px;
  }

  @media screen and (max-width:500px) {
    height: 200px;
  }
}

.article-headings {
  text-align: center;

  h1 {
    color: $black;
  }

  h2 {
    color: $grey;
  }

  h5 {
    margin-bottom: 13px;

    a {
      text-decoration: none;
      color: $magenta;
    }
  }
}

.article-content {
  padding-top: 52px;

  p {
    margin-left: 18.5vw;
    margin-right: 18.5vw;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 47px;
    margin-top: 25px;

    @media screen and (max-width:767px) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 27px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .wp-caption-text {
    font-weight: 200;
    margin-bottom: 44px !important;
    text-align: left;

    @media screen and (max-width:767px) {
      font-size: 14px;
      margin-bottom: 15px !important;
    }
  }
}

/* Related and Comments section */

.related-comment {
  background-color: $beige;
  margin: 116px -30px 0;
  padding-bottom: 145px;
  padding-top: 116px;

  @media screen and (min-width:1441px) {
    margin: 0 -2.5vw;
  }

  @media screen and (max-width:767px) {
    margin: 116px -20px 0;
  }

  .toggle-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 52px;

    div {
      border-bottom: 3px solid transparent;
      color: $light-grey;
      cursor: pointer;
      font-size: 20px;
      margin: 0 15px;
      padding: 0 20px;
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;

      &.active {
        border-bottom: 3px solid $olive;
        color: #4f4f4f;
      }

      &:hover {
        color: #4f4f4f;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.comments-area {
  display: none;
  margin: 0 30px;

  @media screen and (min-width: 1441px) {
    margin: 0 2.5vw;
  }

  .comment-list,
  .comment-respond {
    list-style: none;
    margin: 0 18.5vw;
    padding: 0;

    @media screen and (max-width: 767px) {
      margin: 0;
    }

    .depth-1 {
      border-bottom: 1px solid $rules;
      padding-bottom: 60px;
    }

    .comment-author {
      color: $text-grey;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 40px;
      text-transform: capitalize;
    }

    .comment-content p {
      color: $text-grey;
      margin-top: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .date-reply {
      color: $light-grey;
      font-weight: 300;

      a {
        color: $light-grey;
        text-decoration: none;

        &:hover {
          color: $magenta;
        }
      }
    }
  }

  .form-submit {
    margin-bottom: 0;
  }

  .logged-in-as a,
  .logged-in-as {
    text-decoration: none;
    color: $light-grey;

    &:hover {
      color: $magenta;
    }
  }
}

.comment-form-comment {
  margin-top: 40px;
}

.comment-reply-title,
.comment-notes,
.comment-form-url {
  display: none;
}

/* Related Articles Styling */

.related-articles {

  .item {
    line-height: 20px;
    text-align: center;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $grey;
      }
    }

    h5 {
      color: $magenta;
      margin-bottom: 6px;
      margin-top: 20px;
    }

    img {
      -webkit-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
      -webkit-backface-visibility: hidden;

      &:hover {
        opacity: .75;
        -webkit-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
        -webkit-backface-visibility: hidden;
      }
    }
  }
}
