.site-content {
  margin: 0 30px;

  @media screen and (min-width:1441px) {
    margin: 0 2.5vw;
  }

  @media screen and (max-width:767px) {
    margin: 0 20px;
  }
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Single Post Styling */
.header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 633px;
  width: 100%;

  @media screen and (max-width:900px) {
    height: 500px;
  }

  @media screen and (max-width:767px) {
    height: 300px;
  }

  @media screen and (max-width:500px) {
    height: 200px;
  }
}

.article-headings {
  text-align: center;

  h1 {
    color: $black;
  }

  h2 {
    color: $grey;
  }

  h5 {
    margin-bottom: 13px;

    a {
      text-decoration: none;
      color: $magenta;
    }
  }
}

.article-content {
  padding-top: 52px;

  p {
    margin-left: 18.5vw;
    margin-right: 18.5vw;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 47px;
    margin-top: 25px;

    @media screen and (max-width:767px) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 27px;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .wp-caption-text {
    font-weight: 200;
    margin-bottom: 44px !important;
    text-align: left;

    @media screen and (max-width:767px) {
      font-size: 14px;
      margin-bottom: 15px !important;
    }
  }
}

/* Related and Comments section */

.related-comment {
  background-color: $beige;
  margin: 0 -30px;
  padding-bottom: 145px;
  padding-top: 116px;
  margin-top: 116px;

  @media screen and (min-width:1441px) {
    margin: 0 -2.5vw;
  }

  .toggle-buttons {
    display: flex;
    justify-content: center;

    div {
      margin: 0 15px;
      font-size: 20px;
      color: $light-grey;
      padding: 0 20px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &.active {
        color: #4f4f4f;
        border-bottom: 3px solid $olive;
      }

      &:hover {
        color: #4f4f4f;
        transition: all .2s ease-in-out;
      }
    }
  }
}

/* Related Articles Styling */

.realted-articles {

    .item {
      line-height: 20px;
      text-align: center;

      a {
        color: $black;
        text-decoration: none;

        &:hover {
          color: $grey;
        }
      }

      h5 {
        color: $magenta;
        margin-bottom: 6px;
        margin-top: 20px;
      }

      img {
        -webkit-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;

        &:hover {
          opacity: .75;
          -webkit-transition: opacity .3s ease-in-out;
          -o-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out;
        }
      }
    }
}
