html {
	box-sizing: border-box;
	 -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

.article-content blockquote {
	margin: 0 40px;

	@media screen and (max-width:767px) {
		margin: 30px 0;
	}

	p {
		color: $olive;
		font-size: 30px;
		font-weight: 400;
		line-height: 42px;

		@media screen and (max-width:1024px) {
			font-size: 26px;
			line-height: 38px;
		}

		@media screen and (max-width:767px) {
			font-size: 22px;
			line-height: 34px;
		}
	}
}

hr {
	background-color: transparent;
   border-bottom: 1px dotted $black;
  margin: 36px auto 42px;
  width: 47px;

  @media screen and (max-width:767px) {
  	margin: 32px auto;
  }
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.hide-desktop {
	display: none !important;
}

@media screen and (max-width:767px) {

	.hide-desktop {
		display: block !important;
	}

	.hide-mobile {
		display: none !important;
	}
}
