.main-navigation {
	display: none;
}

// Responsive Menu Overrides

button#responsive-menu-button {
	right: 21px !important;

	@media screen and (min-width:1441px) {
    right: 2vw !important;
  }

  @media screen and (max-width:767px) {
    right: 11px !important;
  }
}

.responsive-menu-item-link {
	font-family: $font__menu;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.responsive-menu-subarrow {
	left: 174px !important;

	img {
		max-height: 7px !important;
	}
}

.menu-item-has-children:last-of-type {
 	.responsive-menu-subarrow {
 		left: 104px !important;
 	}
}

.responsive-menu-item-link,
#responsive-menu-additional-content {
	padding-left: 50px !important;
}

#responsive-menu-container {
	padding-top: 140px !important;

	@media screen and (max-width: 767px) {
		max-width: 100% !important;
		width: 100% !important;
	}

	#responsive-menu li.responsive-menu-item a:hover {
		color: $grey !important;
	}
}

.responsive-menu-submenu-open li a {
	background-color: $mint !important;
	color: $grey !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item.responsive-menu-item-has-children ul li a:hover {
	background-color: $light-mint !important;
	color: $black !important;
}

.responsive-menu-open {

	body {
		overflow: hidden;
	}

	.page-overlay {
		background: rgba(0, 0, 0, 0.52);
		height: 100vh;
		position: fixed;
		width: 100vw;
		z-index: 1005;
	}
}

.responsive-menu-button {
	-webkit-transition: top .3s ease-in-out !important;
	-o-transition: top .3s ease-in-out !important;
	transition: top .3s ease-in-out !important;

	&.scrolled {
		top: 12px !important;
		-webkit-transition: top .3s ease-in-out !important;
	  -o-transition: top .3s ease-in-out !important;
	  transition: top .3s ease-in-out !important;
	}
}
