.main-navigation {
	display: none;
}

// Responsive Menu Overrides

.responsive-menu-item-link {
	font-family: $font__menu;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.responsive-menu-subarrow {
	left: 174px !important;

	img {
		max-height: 7px !important;
	}
}

.menu-item-has-children:last-of-type {
 	.responsive-menu-subarrow {
 		left: 104px !important;
 	}
}

.responsive-menu-item-link {
	padding-left: 50px !important;
}

#responsive-menu-container {
	padding-top: 140px !important;

	#responsive-menu li.responsive-menu-item a:hover {
		color: $grey !important;
	}
}

.responsive-menu-submenu-open li a {
	background-color: $mint !important;
	color: $grey !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item.responsive-menu-item-has-children ul li a:hover {
	background-color: $light-mint !important;
	color: $black !important;
}



