$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #d8d8d8;
$color__border-abbr: #666;

// Theme Specific Colors

$mint: #CEFBCE;
$light-mint: #e4f7e4;
$grey: #666;
$light-grey: #a3a3a3;
$black: #000;
$magenta: #9e2345;
$beige: #f7f7f7;
$olive: #948932;
$rules: #d8d8d8;
$text-grey: #4f4f4f;
$date: #5c5959;
$footer-grey: #4e554c;
$footer-tagline: #71806f;
$prev-next: #727272;
$prev-next_line: #eaeaea;

$white: #fff;
$black: #000;
