
/* Hide on all pages except for single posts*/
.a2a_floating_style {
  display: none;
}


.single-post .a2a_floating_style {
  background-color: transparent !important;
  border-radius: 0 !important;
  display: block;
  padding: 0 !important;
  z-index: 998 !important;

  @media screen and (min-width:1441px) {
    left: 2.5vw !important;
  }

  @media screen and (max-width:767px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: -50px;
    margin-left: -10px;
    top: 1000px;
    position: absolute;
    opacity: 0;

    &:before {
      content: 'Share:';
      padding-right: 15px;
      padding-top: 6px;
      color: $grey;
    }
  }

  a {
    padding: 8px 0 !important;
    text-align: center;

    @media screen and (max-width:767px) {
      padding: 0 20px 0 0 !important;
    }

    img {
      height: 20px !important;
      opacity: .3;
      -webkit-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;

      @media screen and (max-width:767px) {
        height: 25px !important;
      }
    }

    &.a2a_button_email img {
      height: 18px !important;

      @media screen and (max-width:767px) {
        height: 25px !important;
        padding-top: 2px;
      }
    }

    &:hover img {
      opacity: .7;
      -webkit-transition: opacity .35s ease-in-out;
      -o-transition: opacity .35s ease-in-out;
      transition: opacity .35s ease-in-out;
    }
  }
}

.addtoany_share_save_container.addtoany_content_bottom {
  display: none;

  @media screen and (max-width:767px) {
    display: block;

    a {
      padding: 8px !important;
      text-align: center;

      &:first-of-type {
        padding-left: 0 !important;
      }

      img {
        height: 24px !important;
        opacity: .5;
      }

      &.a2a_button_email img {
        height: 22px !important;
      }

      &:hover img {
        opacity: .75;
      }
    }
  }
}
