// keeps footer on the bottom of the page
.site-content {
  min-height: calc(100vh - 288px); // content minus site-header and site-footer(plus footer top-margin)

  @media screen and (max-width:610px) {
    min-height: calc(100vh - 282px); // content minus site-header and site-footer(plus footer top-margin)
  }
}

.site-footer {
  background-color: $mint;
  height: 116px;
  // margin-top: 60px;

  @media screen and (max-width:610px) {
    height: 111px;
  }

  .site-info {
    padding-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    @media screen and (max-width:900px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    @media screen and (max-width:610px) {
      padding-top: 20px;

      .footer-item {
        width: 100%;
      }
    }

    .copy {
      float: left;
      font-family: $font__menu;
      font-weight: 600;
      letter-spacing: 2px;
      margin-left: 15px;

      @media screen and (max-width:900px) {
        width: 100%;
      }
    }

    .site-subtitle {
      font-family: $font__menu;
      margin-left: -76px; //width of circle showing + left margin on copy - right margin on social

      @media screen and (max-width:900px) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    .social {
      margin-right: 21px;

      @media screen and (max-width:900px) {
        margin-top: -25px;
      }

      @media screen and (max-width:610px) {
        display: none;
      }

      img {
        height: 18px;
        padding-left: 9px;
        padding-right: 9px;
      }

      a img {
        opacity: 1;
        transition: opacity .5s ease-in-out;
      }

      a:hover img {
        opacity: .75;
        transition: opacity .35s ease-in-out;
      }
    }
  }
}

.the-circle {
  float: left;
  margin-top: -23px;
  margin-left: -34px;

  @media screen and (max-width:610px) {
    margin-top: -16px;
    margin-left: -28px;
    width: 95px;
  }
}

.social-mobile {
  display: none;

  @media screen and (max-width:610px) {
    bottom: 30px;
    display: block;
    position: absolute;

    a {
      margin: 15px !important;

      &:first-of-type {
        margin-left: 0 !important;
      }

      img {
        height: 30px;
        width: auto;
      }
    }
  }
}
