// keeps footer on the bottom of the page
.site-content {
  min-height: calc(100vh - 116px);

  @media screen and (max-width:610px) {
    min-height: calc(100vh - 111px);
  }
}

.site-footer {
  background-color: $orange;
  height: 116px;

  @media screen and (max-width:767px) {
    width: 100vw;
  }

  @media screen and (max-width:610px) {
    height: 111px;
  }

  .site-info {
    padding-top: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100vw;

    @media screen and (max-width:1024px) {
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    @media screen and (max-width:767px) {
      display: block;
    }

    @media screen and (max-width:610px) {
      padding-top: 20px;

      .footer-item {
        width: 100%;
      }
    }

    .copy {
      margin-left: 97px;

      @media screen and (max-width:1024px) {
        width: 100%;
      }

      @media screen and (max-width:767px) {
        float: none;
        margin-left: 97px;
        width: initial;
      }

      @media screen and (max-width:610px) {
        margin-left: 82px;
      }

      a {
        color: $black;
        font-family: $font__menu;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;

        &:hover {
          color: rgba(0,0,0,.6);
        }
      }
    }

    .site-subtitle {
      color: $black;
      font-family: $font__menu;
      margin-left: -180px;
      opacity: .6;

      @media screen and (max-width:1024px) {
        margin-left: 97px;
      }

      @media screen and (max-width:767px) {
        line-height: 22px;
        margin-left: 97px;
        width: initial;
      }

      @media screen and (max-width:610px) {
        margin-left: 82px;
      }
    }

    .social {
      margin-right: 21px;

      @media screen and (max-width:1024px) {
        margin-top: -25px;
      }

      @media screen and (max-width:767px) {
        margin-left: 88px;
        margin-top: 8px;
      }

      @media screen and (max-width:610px) {
        display: none;
      }

      img {
        height: 18px;
        padding-left: 9px;
        padding-right: 9px;
      }

      a img {
        opacity: .4;
        transition: opacity .3s ease-in-out;
      }

      a:hover img {
        opacity: .8;
        transition: opacity .3s ease-in-out;
      }
    }
  }
}

.the-circle {
  float: left;
  margin-top: -23px;
  margin-left: -34px;
  position: absolute;

  @media screen and (max-width:610px) {
    margin-top: -16px;
    margin-left: -28px;
    width: 95px;
  }
}

.social-mobile {
  display: none;

  @media screen and (max-width:610px) {
    display: block;
    position: absolute;
    margin-bottom: 30px !important;
    margin-top: 15px !important;

    a {
      margin: 15px !important;

      &:first-of-type {
        margin-left: 0 !important;
      }

      img {
        height: 30px;
        width: auto;
      }
    }
  }

  @media screen and (max-width: 340px) {
    margin-top: 0 !important;
  }
}
