button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid $rules;
	border-radius: 0;
	background: $beige;
	color: $light-grey;
	@include font-size(1);
	line-height: 1;
	padding: .6em 1em .4em;
	-webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

	&:hover {
		border-color: $light-grey;
		color: $grey;
		-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	}

	&:active,
	&:focus {
		border-color: $grey;
		outline: none;
	}
}
