button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $beige;
	border-radius: 0;
	border: 2px solid $rules;
	color: $light-grey;
	font-family: $font__menu;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 18px;
	padding: 13px 40px 12px;
	text-transform: uppercase;
	-webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  @media screen and (max-width:767px) {
    width: 100%;
  }

	&:hover {
		border-color: $light-grey;
		color: $grey;
		-webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	}

	&:active,
	&:focus {
		border-color: $grey;
		outline: none;
	}
}

.article-content button {
	background: $white;
	border-color: $olive;
	color: $olive;
  margin-top: 10px;

	&:hover {
		background: $olive;
		color: $white;
	}
}
