input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border-radius: 0;
  border: 1px solid $rules;
  color: $color__text-input;
  letter-spacing: .5px;
  padding: 4px 15px 3px;
  background-color: #f9f9f9;

  @media screen and (max-width:767px) {
    padding: 10px 15px 9px;
    width: 100%;
  }

	&:focus {
		color: $color__text-input-focus;
    outline: none;
    border: 1px solid $light-grey;
	}
}

select {
	border: 1px solid $rules;
}

textarea {
  padding: 18px;
	width: 100%;

  &::placeholder {
    color: #a5a5a5;
  }
}
